.contacts {
  margin: 0;
  padding: 0;

  &__section-title {
    margin: 0 0 40px;
    font-weight: 700;
    font-style: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    justify-content: center;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__container {
    display: grid;

    @include page-grid;

    grid-template-columns: 1fr;
    grid-column: span 2;
    row-gap: 48px;
    margin-top: 48px;

    @include on-tablet {
      grid-template-columns: 1fr 1fr;
      grid-column: span 6;
    }

    @include on-desktop {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column: span 12;
    }
  }

  &__block {
    display: grid;

    &-contact-title {
      margin: 0 0 16px;
      font-weight: 700;
      font-style: bold;
      font-size: 16px;
      line-height: 27px;
      color: $text-color-dark;
    }

    &-ph-a {
      margin: 0;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 27px;
      color: $text-color-dark;
    }

    &-phone {
      margin: 0 0 8px;
      font-weight: 700;
      font-style: bold;
      font-size: 16px;
      line-height: 27px;
    }

    &-address {
      margin: 0;
      font-weight: 700;
      font-style: bold;
      font-size: 16px;
      line-height: 27px;
    }

    &-link {
      color: $text-color-dark;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $main-color-red;
        text-decoration: underline;
      }
    }
  }

  &__form {
    display: grid;

    gap: 16px;
    width: 100%;
    align-items: start;

    &-input {
      min-width: 280px;
      height: 48px;
      background: #f8f8fa;
      border: none;

      @include on-tablet {
        min-width: 288px;
      }

      @include on-desktop {
        min-width: 411px;
      }

      &--text {
        font-family: Cinzel, Times, sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        padding-left: 12px;
        display: block;
        box-sizing: border-box;
      }
    }

    &-message {
      min-width: 280px;
      height: 144px;
      background: #f8f8fa;
      border: none;
      resize: none;

      @include on-tablet {
        min-width: 288px;
      }

      @include on-desktop {
        min-width: 411px;
      }

      &--text-1 {
        font-family: Cinzel, Times, sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        padding-left: 12px;
        text-align: top left;
        display: block;
        box-sizing: border-box;
      }
    }

    &-primary {
      margin-top: 32px;
      min-width: 280px;
      height: 56px;
      background: #ae1c23;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      @include on-tablet {
        min-width: 288px;
      }

      @include on-desktop {
        min-width: 411px;
      }

      &:hover {
        background-color: #961927;
        border-color: #961927;
        transform: scale(1.05);
      }

      &-text {
        font-family: Cinzel, Times, sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: $main-color-white;
        display: block;

        &:hover {
          color: rgb(22, 22, 22);
        }
      }
    }
  }
}
