.footer {
  z-index: -1;
  min-height: 180px;
  background-image: url(../images/footer/image-footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  box-sizing: border-box;
}
